@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  overflow-x:hidden;
}

@layer components {

  .spacing {
    max-width: 1440px;
    margin: auto;
    padding-inline: 120px;
  }

  .greyText {
    @apply font-semibold cursor-pointer text-darkblue hover:text-darkgrayishblue
  }

  .footerlinks {
    @apply text-gray-300 text-base font-medium cursor-pointer hover:text-brightred
  }

  .social path:hover {
    @apply fill-brightred
  }

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }