@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  overflow-x:hidden;
  scroll-behavior: smooth;
}

@layer components {

  .widthMax {
    @apply max-w-[1440px] m-auto
  }

  .contentpadding {
    @apply px-[30px] md:px-[80px] lg:px-[120px]
  }

  .spacing {
    @apply widthMax contentpadding
  }

  .greyText {
    @apply font-semibold text-base cursor-pointer text-darkblue hover:text-darkgrayishblue
  }

  .footerlinks {
    @apply text-gray-300 text-sm font-medium cursor-pointer hover:text-brightred
  }

  .social path:hover {
    @apply fill-brightred
  }

}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

.sidebarshadow { box-shadow: 0 40px 200px 0px black;; }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }